@import "../../styles/colors";

.modal {
  display: flex;
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: showModal 0.4s forwards;
  overflow: auto;
  z-index: 999;
  background-color: rgba($neutrals1, 0.5);
  @include dark {
    background-color: rgba($neutrals2, 0.5);
  }
  @media (min-width: 768px) {
    padding: 2rem;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.outer {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  z-index: 2;
  background-color: neutrals8;
  @include dark {
    background-color: neutrals1;
  }
}

.sm {
  max-width: 380px;
}

.md {
  max-width: 648px;
}

.m {
  max-width: 548px;
}

.lg {
  max-width: 848px;
  max-height: 100%;
  overflow-y: auto;
}

.container {
  position: relative;
  padding: 1.4rem
}

@media (min-width: 390px) and (max-width: 780px) {
  .container {
    position: relative;
    padding: 21px;
  }
}
@media (max-width: 389px) {
  .container {
    position: relative;
    padding: 10px;
    padding-top: 25px;
  }

  .sm {
    max-width: 340px;
  }

}


.close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;

  .closeIcon {
    color: white;
  }

  .closeText {
    font-size: 12px;
    font-weight: 400;
    color: white;
  }
}
